In [1]:
import pandas as pd

In [25]:
data = {
    'Date' : ['2024-07-01','2024-07-02','2024-07-03','2024-07-03'],
    'Temperature' : [10,20,25,20],
    'Humidity' : [60,65,70,21]
    
}
df = pd.DataFrame(data)

In [26]:
print(df)

         Date  Temperature  Humidity
0  2024-07-01           10        60
1  2024-07-02           20        65
2  2024-07-03           25        70
3  2024-07-03           20        21

In [27]:
df_melted = pd.melt(df,
                    id_vars=['Date'],
                    value_vars=['Temperature','Humidity'],
                    var_name='Variable',
                    value_name = 'Value'
                    )

In [28]:
print(df_melted)

         Date     Variable  Value
0  2024-07-01  Temperature     10
1  2024-07-02  Temperature     20
2  2024-07-03  Temperature     25
3  2024-07-03  Temperature     20
4  2024-07-01     Humidity     60
5  2024-07-02     Humidity     65
6  2024-07-03     Humidity     70
7  2024-07-03     Humidity     21

In [29]:
#다시 원상 복구 하기 위해서는 pivot 을 이용해 준다. 그러나 고유한 조합이어야 한다.

df_melted2=pd.melt(df.reset_index(),
                    id_vars=['index'],
                    value_vars=['Temperature','Humidity'],
                    var_name='Variable',
                    value_name = 'Value'
                    )

print(df_melted2)

   index     Variable  Value
0      0  Temperature     10
1      1  Temperature     20
2      2  Temperature     25
3      3  Temperature     20
4      0     Humidity     60
5      1     Humidity     65
6      2     Humidity     70
7      3     Humidity     21

In [30]:
df_pivoted = df_melted2.pivot(index = 'index',
                        columns = 'Variable',
                        values = 'Value')

print(df_pivoted)

Variable  Humidity  Temperature
index
0               60           10
1               65           20
2               70           25
3               21           20

In [33]:
#위에서는 고유한 Index 를 추가해 주거나 아니면 -> pivot 대신 pivot_table()을 이용해주면 중복있는 날짜의 값을 평균으로 대치해 준다 !

df_pivot_table = df_melted.pivot_table(index = 'Date',
                                       columns = 'Variable',
                                       values= 'Value').reset_index()

In [34]:
print(df_pivot_table)

Variable        Date  Humidity  Temperature
0         2024-07-01      60.0         10.0
1         2024-07-02      65.0         20.0
2         2024-07-03      45.5         22.5