In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/penguins.csv')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

In [4]:
print(df.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [9]:
max_idx = df['bill_length_mm'].idxmax()
print(max_idx)
print(f'Maximum bill length index : {max_idx}')
#인덱스 번호 추출

253
Maximum bill length index : 253

In [11]:
print(df.loc[max_idx])
#해당 인덱스의 정보

species              Gentoo
island               Biscoe
bill_length_mm         59.6
bill_depth_mm          17.0
flipper_length_mm     230.0
body_mass_g          6050.0
sex                    Male
Name: 253, dtype: object

In [13]:
sorted_df = df.sort_values(by='bill_length_mm',ascending=False)
print(sorted_df)
# bill_length_mm 칼럼을 기준으로 내림차순 정렬

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
253     Gentoo     Biscoe            59.6           17.0              230.0
169  Chinstrap      Dream            58.0           17.8              181.0
321     Gentoo     Biscoe            55.9           17.0              228.0
215  Chinstrap      Dream            55.8           19.8              207.0
335     Gentoo     Biscoe            55.1           16.0              230.0
..         ...        ...             ...            ...                ...
70      Adelie  Torgersen            33.5           19.0              190.0
98      Adelie      Dream            33.1           16.1              178.0
142     Adelie      Dream            32.1           15.5              188.0
3       Adelie  Torgersen             NaN            NaN                NaN
339     Gentoo     Biscoe             NaN            NaN                NaN

     body_mass_g     sex
253       6050.0    Male
169       3700.0  Female
321       5600.0    Male
215       4000.0    Male
335       5850.0    Male
..           ...     ...
70        3600.0  Female
98        2900.0  Female
142       3050.0  Female
3            NaN     NaN
339          NaN     NaN

[344 rows x 7 columns]