In [1]:
print("Hello World")

Hello World

In [4]:
city_name ="서울"
age=24
is_student="No"

print(city_name)
print(age)
print(is_student)

서울
24
No

In [7]:
x=12
y=4

print((x-y)*y/x)
print(x**y//x)
print((x%y)+2)

2.6666666666666665
1728
2

In [8]:
price =12000
quantity = 3

total_price = price*quantity

if 10000<=total_price<=50000:
    print(True)
else:
    print(False)

True