In [48]:
import numpy as np
import pandas as pd

# 작업 1유형

In [49]:
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/data/main/exam/10_1_1.csv")

In [50]:
print(df.head())
print(df.info())

   학생ID  문제ID 대주제 소주제  정답여부
0  1001     1  과학  동물     0
1  1001     2  사회  정치     1
2  1001     3  과학  지구     0
3  1001     4  과학  식물     0
4  1001     5  수학  측정     1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학생ID    1000 non-null   int64
 1   문제ID    1000 non-null   int64
 2   대주제     1000 non-null   object
 3   소주제     1000 non-null   object
 4   정답여부    1000 non-null   int64
dtypes: int64(3), object(2)
memory usage: 39.2+ KB
None

In [51]:
#1번문제 : 3째로 높은 정답률을 구하시오 
one_num = df.groupby(["소주제"])['정답여부'].sum() #1만 합해짐
number = df.groupby(['소주제'])['정답여부'].count() #전체 개수 
print(one_num)
#print(number)

ratio = np.round(one_num/number,2)
print(ratio.sort_values(ascending=False))

#정답은 경제

소주제
경제     34
도형     20
독해     37
동물     16
듣기     35
문법     35
문화     21
물리     21
방정식    25
분수     27
소수     27
식물     24
쓰기     27
어휘     31
역사     29
정치     31
지구     33
지리     24
측정     24
화학     25
Name: 정답여부, dtype: int64
소주제
독해     0.74
듣기     0.70
문법     0.70
경제     0.68
지구     0.66
정치     0.62
어휘     0.62
역사     0.58
쓰기     0.54
소수     0.54
분수     0.54
방정식    0.50
화학     0.50
식물     0.48
지리     0.48
측정     0.48
물리     0.42
문화     0.42
도형     0.40
동물     0.32
Name: 정답여부, dtype: float64

In [54]:
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/data/main/exam/10_1_2.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      250 non-null    object
 1   category  250 non-null    object
 2   item      250 non-null    object
 3   price     250 non-null    int64
dtypes: int64(1), object(3)
memory usage: 7.9+ KB
None

In [55]:
print(df.head())

         date category   item   price
0  2023-01-03       커피     라떼   46123
1  2023-02-05       커피   카푸치노   77519
2  2023-03-20      스무디  망고스무디  132181
3  2023-04-01       주스  오렌지주스   32901
4  2023-05-02       커피   카푸치노   84496

In [56]:
#date 를 연도 월 로 분리 / 연도 월별 price 의 합계 / 두번째 큰 매출액 구하기 

df['date']=pd.to_datetime(df['date'])

In [57]:
df.info()
#오브젝트 -> date로 형식이 변한것을 확인 가능

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      250 non-null    datetime64[ns]
 1   category  250 non-null    object
 2   item      250 non-null    object
 3   price     250 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 7.9+ KB

In [58]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month

In [ ]:
print(df)

          date category   item   price  year  month
0   2023-01-03       커피     라떼   46123  2023      1
1   2023-02-05       커피   카푸치노   77519  2023      2
2   2023-03-20      스무디  망고스무디  132181  2023      3
3   2023-04-01       주스  오렌지주스   32901  2023      4
4   2023-05-02       커피   카푸치노   84496  2023      5
..         ...      ...    ...     ...   ...    ...
245 2023-09-13       주스   사과주스   33558  2023      9
246 2024-11-22       주스  오렌지주스  106728  2024     11
247 2023-07-11      스무디  망고스무디   69927  2023      7
248 2023-02-03       주스   사과주스   67808  2023      2
249 2024-07-10      스무디  망고스무디   60600  2024      7

[250 rows x 6 columns]

In [60]:
month_sale = df.groupby(["year","month"])["price"].sum().sort_values(ascending=False)
print(month_sale)

year  month
2023  9        2096425
      10       1777389
      7        1738018
2024  12       1533767
      1        1310043
      7        1251005
2023  6        1196731
      3        1178860
2024  11       1174466
2023  2        1167688
      12       1151700
2024  5        1141123
2023  1        1117426
2024  8        1033025
      4         975772
2023  11        951424
2024  9         877293
      6         861197
2023  8         850558
2024  3         820949
      10        818160
      2         751392
2023  4         685229
      5         618655
Name: price, dtype: int64

In [64]:
category_sale = df.groupby(["year","month","category"])["price"].sum().sort_values(ascending=False).reset_index()

In [67]:
#print(category_sale)
df=category_sale.loc[(category_sale['year']==2024)&(category_sale['month']==12),:]
print(df)

    year  month category    price
0   2024     12       커피  1012500
45  2024     12      스무디   269612
50  2024     12       주스   251655

In [70]:
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/data/main/exam/10_1_3.csv")
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   message  103 non-null    object
 1   label    103 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB
None
                                             message label
0  You have won a free vacation to Hawaii! Reply ...  spam
1  Your account will be locked in 24 hours. Act now.  spam
2          Hey, are you coming to the meeting later?   ham
3     Don't forget to pick up milk on your way home.   ham
4  Special discount! 50% off on all shoes today o...  spam

In [78]:
df['count']=df['message'].str.split(' ').apply(len)

In [81]:
mean_cnt = df.groupby(['label'])['count'].mean()
print(mean_cnt)

label
ham     6.232143
spam    6.531915
Name: count, dtype: float64

In [83]:
abs_num = np.round(abs(mean_cnt['ham']-mean_cnt['spam']),3)
print(abs_num)

0.3