In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/YoungjinBD/data/main/grade.csv")

In [5]:
#df 데이터 프레임의 정보 출력, 각 칼럼의 데이터 타입 확인

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  10 non-null     int64
 1   name        10 non-null     object
 2   gender      10 non-null     object
 3   midterm     9 non-null      float64
 4   final       9 non-null      float64
 5   assignment  9 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 612.0+ bytes
None

In [ ]:
#midterm 점수가 85점 이상인 학생의 데이터
print(df.loc[df['midterm']>=85])

   student_id     name gender  midterm  final  assignment
0           1    Alice      F     85.0   88.0        95.0
2           3  Charlie      M     92.0   94.0        87.0
3           4    David      M     88.0   90.0        85.0
5           6    Frank      M     95.0   97.0        98.0
6           7    Grace      F     89.0   91.0        84.0
7           8   Hannah      F     90.0   92.0         NaN

In [13]:
#final 점수를 기준으로 데이터 프레임을 내림차순 정렬, 정렬된 데이터 프레임의 첫 5행을 출력

rdf = df.sort_values(by='final',ascending=False)
print(rdf.head())

   student_id     name gender  midterm  final  assignment
5           6    Frank      M     95.0   97.0        98.0
2           3  Charlie      M     92.0   94.0        87.0
7           8   Hannah      F     90.0   92.0         NaN
6           7    Grace      F     89.0   91.0        84.0
3           4    David      M     88.0   90.0        85.0

In [17]:
#gender 칼럼을 기준으로 데이터 프레임을 그룹화하고, 각 그룹별 Midterm 과 final 의 평균을 계산하여 출력하시오

gdf = df.groupby('gender')[['midterm','final']].mean()
print(gdf.head())

        midterm  final
gender
F          85.0   87.5
M          86.0   88.2

In [18]:
#student_id 칼럼을 문자열 타입으로 변환하고 변환된 데이터 프레임의 정보를 출력하시오.

df = df.astype({'student_id':'str'})
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  10 non-null     object
 1   name        10 non-null     object
 2   gender      10 non-null     object
 3   midterm     9 non-null      float64
 4   final       9 non-null      float64
 5   assignment  9 non-null      float64
dtypes: float64(3), object(3)
memory usage: 612.0+ bytes
None

In [25]:
#assignment 점수의 최댓값과 최솟값을 가지는 행을 각각 출력하시오.

max_idx = df['assignment'].idxmax()
min_idx = df['assignment'].idxmin()


print(df.loc[max_idx])
print(df.loc[min_idx])

student_id        6
name          Frank
gender            M
midterm        95.0
final          97.0
assignment     98.0
Name: 5, dtype: object
student_id       5
name           Eve
gender           F
midterm       76.0
final         79.0
assignment    77.0
Name: 4, dtype: object

In [36]:
#midterm,final,assignment 점수의 평균을 계산하여 average 칼럼을 추가하고, 첫 5행 출력하기 

df['average']=df[['midterm','final','assignment']].mean(axis=1)
print(df.head())

  student_id     name gender  midterm  final  assignment    average
0          1    Alice      F     85.0   88.0        95.0  89.333333
1          2      Bob      M     78.0   74.0        82.0  78.000000
2          3  Charlie      M     92.0   94.0        87.0  91.000000
3          4    David      M     88.0   90.0        85.0  87.666667
4          5      Eve      F     76.0   79.0        77.0  77.333333

In [37]:
#데이터 프레임에 결측치가 있는지 확인하고, 결측치를 포함한 행을 제거후 데이터 프레임의 정보를 출력하시오

print(df.isna().sum())

student_id    0
name          0
gender        0
midterm       1
final         1
assignment    1
average       0
dtype: int64

In [38]:
clean_df=df.dropna()
print(clean_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 0 to 6
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   student_id  7 non-null      object
 1   name        7 non-null      object
 2   gender      7 non-null      object
 3   midterm     7 non-null      float64
 4   final       7 non-null      float64
 5   assignment  7 non-null      float64
 6   average     7 non-null      float64
dtypes: float64(4), object(3)
memory usage: 448.0+ bytes
None

In [39]:
#아래의 추가 데이터 생성, 기존 데이터 프레임과 student_id를 기준으로 병합하여 출력

additional_data={
    'student_id' : ['1','3','5','7','9'],
    'club' : ['Art','Science','Math','Music','Drama']
}

df_additional = pd.DataFrame(additional_data)

In [40]:
merged_df = pd.merge(df,df_additional,on='student_id',how='left')
print(merged_df)

  student_id     name gender  midterm  final  assignment    average     club
0          1    Alice      F     85.0   88.0        95.0  89.333333      Art
1          2      Bob      M     78.0   74.0        82.0  78.000000      NaN
2          3  Charlie      M     92.0   94.0        87.0  91.000000  Science
3          4    David      M     88.0   90.0        85.0  87.666667      NaN
4          5      Eve      F     76.0   79.0        77.0  77.333333     Math
5          6    Frank      M     95.0   97.0        98.0  96.666667      NaN
6          7    Grace      F     89.0   91.0        84.0  88.000000    Music
7          8   Hannah      F     90.0   92.0         NaN  91.000000      NaN
8          9     Ivan      M     77.0    NaN        81.0  79.000000    Drama
9         10     Jack      M      NaN   86.0        88.0  87.000000      NaN

In [41]:
#gender 인덱스로, studnet_id를 열로 사용하여 average 점수에 대한 피벗 테이블 생성 및 출력

pivot_df = df.pivot_table(values='average',index='gender',columns='student_id')
print(pivot_df)

student_id          1    10     2     3          4          5          6  \
gender
F           89.333333   NaN   NaN   NaN        NaN  77.333333        NaN
M                 NaN  87.0  78.0  91.0  87.666667        NaN  96.666667

student_id     7     8     9
gender
F           88.0  91.0   NaN
M            NaN   NaN  79.0

In [44]:
#midterm,final,assignment의 평균을 구하고 ,average 열을 생성

df['average']=df[['midterm','final','assignment']].mean(axis=1)

melted_df = pd.melt(df,id_vars=['student_id','name','gender'],value_vars=['midterm','final','assignment','average'],
                    var_name='variable',value_name='score')
group_df = melted_df.groupby(['gender','variable'])['score'].mean().reset_index()

print(group_df)

  gender    variable      score
0      F  assignment  85.333333
1      F     average  86.416667
2      F       final  87.500000
3      F     midterm  85.000000
4      M  assignment  86.833333
5      M     average  86.555556
6      M       final  88.200000
7      M     midterm  86.000000

In [46]:
#최대 평균 성적을 가진 학생의 이름과 평균 성적 출력

max_idx = df['average'].idxmax()
max_avg_st = df.loc[max_idx,['name','average']]

print(f"최대 평균성적을 가진 학생의 이름은 {max_avg_st['name']}이고 점수는 {max_avg_st['average']}입니다.")

최대 평균성적을 가진 학생의 이름은 Frank이고 점수는 96.66666666666667입니다.